@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@800&family=Mooli&display=swap");

h1 {
  font-family: "Gabarito", cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  background-color: black;
  width: 630px;
  height: 646px;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999,
    8px 8px 0px #999;
  display: flex;
  justify-content: center;
}

.box {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: white;
  text-align: center;
  font-family: "Gabarito", cursive;
  font-size: 140px;
}

td:hover {
  background-color: lightgray;
}

#players {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 50px;
}

#p1,
#p2 {
  border: 3px solid black;
  text-align: center;
  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999, 7px 7px 0px #999;
  padding: 20px;
  font-family: "Gabarito", cursive;
  font-size: 20px;
}
